#header-visitor{
    nav{
        background-color: #263241;
        box-shadow: 0 2px 7px 0 rgba(0,0,0,.5);

        .brand-logo{
            position: inherit;
            margin: 10px 2% 0 1%;

            img{
                float: left;
            }
        }

        .search{
            float: left;
            width: 35%;
            position: relative;

            .filter{
                position: absolute;
                z-index: 2;
                width: 90px;

                .select-wrapper{
                    margin-top: 4px;

                    input{
                        box-shadow: none;
                        border-bottom: none;
                        margin: 20px 0 0 5px;
                    }
                }
            }

            button{
                background-color: transparent;
                height: 50px;
                position: absolute;
                top: 0;
                right: 0;
                border: none;

                i{
                    margin-top: -2px;
                }
            }

            .palavra-chave{
                margin-top: 10px;

                label{
                    top: -15px;
                    left: 100px;

                    &.active{
                        top: -5px;
                    }
                }

                input{
                    box-shadow: 0 1px 0 0 grey;
                    border-bottom: 1px solid grey;
                    padding: 15px 45px 0 100px;
                   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                   box-sizing: border-box;
                }
            }
        }

        @media screen and (max-width: 1110px){
            .brand-logo{
                margin-top: 18px;

                img{
                    width: 150px;
                }
            }

            .search{
                width: 40%;
            }
        }

        @media screen and (max-width: 992px){
            .brand-logo{
                margin-top: 10px;

                img{
                    width: auto;
                }
            }

            .search{
                display: none;
            }
        }

        @media screen and (max-width: 600px){
            .brand-logo{
                margin-top: 7px;
            }
        }
    }

    .side-nav{
        @media screen and (max-width: 992px){
            background-color: #263241;

            li a, li i{
                color: #fff;
            }

            .select-wrapper{
                input{
                    padding-left: 10px;
                }

                .caret{
                    padding-right: 10px;
                }
            }

            .palavra-chave{
                position: relative;

                label{
                    left: 10px;
                }

                input{
                    padding-left: 10px;
                }

                button{
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: #fff;
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }
}
