#page-login-cadastro{
    .menu{
        a{
            text-align: center;
            float: left;
            width: 50%;
            height: 50px;
            line-height: 50px;
            border-radius: 0;
        }
    }

    .login-facebook{
        margin-top: 20px;
        background-image: url('/images/icon-facebook.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 50px;
        background-color: #3c5a99;
        border: none;
    }

    .esqueci-senha:hover{
        text-decoration: underline;
    }

    #form-cadastro{
        display: none;
    }

    .selected{
        background-color: #03a9f4;
    }

    @media screen and (max-width: 600px){
        .submit, .login-facebook{
            width: 100%;
        }
    }
}
